In [1]:
import pandas as pd
import math
import numpy as np

In [2]:
file = 'C2.csv'

In [3]:
cd = pd.read_csv(file)
cd.head()

,Unnamed: 0,Name,Lat,Lng,Address
0,0,Walmart Supercenter,41.586375,-81.225033,"223 Meadowlands Dr, Chardon"
1,1,Walmart Supercenter,41.640637,-81.446915,"33752 Vine St, Willowick"
2,2,Walmart Supercenter,41.458748,-81.085501,"15050 S, Springdale Ave, Middlefield"
3,3,Walmart,41.678383,-81.307060,"9303 Mentor Ave, Mentor"
4,4,Walmart Supercenter,41.804614,-81.072076,"6067 N Ridge Rd, Madison"

In [4]:
east_cleveland_coordinates = "41.625126,-81.062346" #lat,long

In [5]:
lat1 = 41.625126
lon1 = -81.062346
def dist_from_coordinates(lat1, lon1, lat2, lon2):
  R = 6371  # Earth radius in km
 # lat1 = 41.625126
 # lon1 = -81.062346
  #conversion to radians
  d_lat = np.radians(lat2-lat1)
  d_lon = np.radians(lon2-lon1)

  r_lat1 = np.radians(lat1)
  r_lat2 = np.radians(lat2)

  #haversine formula
  a = np.sin(d_lat/2.) **2 + np.cos(r_lat1) * np.cos(r_lat2) * np.sin(d_lon/2.)**2

  haversine = 2 * R * np.arcsin(np.sqrt(a))

  return haversine

new_column = []                    #empty column for distance
for index,row in cd.iterrows():
  lat2 = row['Lat'] #first row of location.lat column here
  lon2 = row['Lng'] #first row of location.long column here
  #lat2 = row['lat2'] #second row of location.lat column here
  #lon2 = row['lon2'] #second row of location.long column here
  value = dist_from_coordinates(lat1, lon1, lat2, lon2)  #get the distance
  new_column.append(value)   #append the empty list with distance values
  #cd.insert(6,"Distance",new_column)
print(new_column)

[14.1961791491142, 32.007641646379184, 18.60044374117297, 21.176850004710488, 19.974478973681183, 38.599809302215576, 40.92430972374322, 19.91965101043012, 25.726570520260296, 24.062573269748015, 13.761694391358285, 18.023381820211753, 30.374762987548323, 19.1965431365446, 26.32304717601379, 19.609796866433268, 32.604252400692225, 21.20953119787872, 25.482801038634836, 13.212857823615074, 33.21172882992863, 24.9941686163673, 18.24802841240352, 19.832127382686775, 20.048560780054395, 37.94380815624732, 33.19704678411905, 13.391725961237828, 26.482967387135446, 19.535797352139088, 26.41099333393697, 19.568828288124664, 33.131073771014506, 18.345438377908465, 32.16065614626417, 19.642446580753898, 19.11052620844234, 36.72453605201284, 44.610377047330616, 13.643761436273548, 32.89212148880357, 31.649303231412304, 22.323623481488934]

In [6]:
col = []
for x in new_column:
    a = x * 0.621371
    col.append(a)
print(col)

[8.82109403406424, 19.88862029745228, 11.55777632789639, 13.15868046427696, 12.411561974355251, 23.984802105926995, 25.42917925735205, 12.377493468001974, 15.985744850744661, 14.951785215196594, 8.551117805652689, 11.199206785006798, 18.87399685233589, 11.928175205297856, 16.356378146806865, 12.184959088692507, 20.259336918470527, 13.1789876099571, 15.834273564177566, 8.210086678717522, 20.636805154781584, 15.530651547320765, 11.338795662643589, 12.323108823907464, 12.45759426046318, 23.577182017855556, 20.62768215729484, 8.321230152260311, 16.45574792831174, 12.138977936496017, 16.411025338901748, 12.15950240222031, 20.586688440169056, 11.399323390319362, 19.98369907026031, 12.205246674329631, 11.874726780666025, 22.81956169117527, 27.719594596276874, 8.477837687418731, 20.438210421619363, 19.665959198205893, 13.87125224631626]

In [7]:
a = pd.DataFrame({'Distance':col})
a.head()

    Distance
0   8.821094
1  19.888620
2  11.557776
3  13.158680
4  12.411562

In [8]:
a['Distance'] = a['Distance'].map("{:,.2f}".format)
a['Distance']

0      8.82
1     19.89
2     11.56
3     13.16
4     12.41
5     23.98
6     25.43
7     12.38
8     15.99
9     14.95
10     8.55
11    11.20
12    18.87
13    11.93
14    16.36
15    12.18
16    20.26
17    13.18
18    15.83
19     8.21
20    20.64
21    15.53
22    11.34
23    12.32
24    12.46
25    23.58
26    20.63
27     8.32
28    16.46
29    12.14
30    16.41
31    12.16
32    20.59
33    11.40
34    19.98
35    12.21
36    11.87
37    22.82
38    27.72
39     8.48
40    20.44
41    19.67
42    13.87
Name: Distance, dtype: object

In [9]:
area1 = cd.merge(a,left_index=True, right_index=True)
area1.head()

,Unnamed: 0,Name,Lat,Lng,Address,Distance
0,0,Walmart Supercenter,41.586375,-81.225033,"223 Meadowlands Dr, Chardon",8.82
1,1,Walmart Supercenter,41.640637,-81.446915,"33752 Vine St, Willowick",19.89
2,2,Walmart Supercenter,41.458748,-81.085501,"15050 S, Springdale Ave, Middlefield",11.56
3,3,Walmart,41.678383,-81.307060,"9303 Mentor Ave, Mentor",13.16
4,4,Walmart Supercenter,41.804614,-81.072076,"6067 N Ridge Rd, Madison",12.41

In [10]:
my_area = pd.DataFrame(area1)
spread = my_area.iloc[:,lambda my_merge: [1,2,3,4,5]]
spread

,Name,Lat,Lng,Address,Distance
0,Walmart Supercenter,41.586375,-81.225033,"223 Meadowlands Dr, Chardon",8.82
1,Walmart Supercenter,41.640637,-81.446915,"33752 Vine St, Willowick",19.89
2,Walmart Supercenter,41.458748,-81.085501,"15050 S, Springdale Ave, Middlefield",11.56
3,Walmart,41.678383,-81.307060,"9303 Mentor Ave, Mentor",13.16
4,Walmart Supercenter,41.804614,-81.072076,"6067 N Ridge Rd, Madison",12.41
5,Walmart Supercenter,41.882334,-80.749849,"3551 N Ridge Rd E, Ashtabula",23.98
6,Walmart Money Center,41.350428,-81.389326,"7355 Market Pl Dr, Aurora",25.43
7,Walmart Money Center,41.804128,-81.071806,Madison,12.38
8,Giant Eagle Supermarket,41.523612,-81.340259,"12692 Chillicothe Rd, Chesterland",15.99
9,Giant Eagle Supermarket,41.684583,-81.340829,"8383 Tyler Blvd, Mentor",14.95
10,Giant Eagle Supermarket,41.583533,-81.218232,"351 Center St, Chardon",8.55
11,Giant Eagle Supermarket,41.464609,-81.092427,"15400 W High St, Middlefield",11.20
12,Giant Eagle Supermarket,41.630325,-81.427732,"36475 Euclid Ave, Willoughby",18.87
13,Giant Eagle Supermarket,41.706115,-81.266436,"1201 Mentor Ave, Painesville",11.93
14,Giant Eagle Supermarket,41.706785,-81.359788,"6079 Andrews Rd, Mentor-On-The-Lake",16.36
15,Giant Eagle Supermarket,41.801419,-81.056075,"6556 N Ridge Rd, Madison",12.18
16,Giant Eagle Supermarket,41.853756,-80.816308,"2390 W Prospect Rd, Ashtabula",20.26
17,Giant Eagle Supermarket,41.795147,-80.946529,"755 South Broadway Avenue, Geneva",13.18
18,Giant Eagle Pharmacy,41.654897,-81.366401,"7960 Plaza Blvd, Mentor",15.83
19,ALDI,41.584622,-81.211742,"302 Center St, Chardon",8.21
20,ALDI,41.522857,-81.437465,"1385 Som Center Rd, Mayfield Heights",20.64
21,ALDI,41.662156,-81.359026,"7885 Mentor Ave, Mentor",15.53
22,ALDI,41.461844,-81.084328,"14955 S, Springdale Ave, Middlefield",11.34
23,ALDI,41.803395,-81.054927,"6521 N Ridge Rd, Madison",12.32
24,ALDI,41.688259,-81.288390,"2045 Mentor Ave, Painesville",12.46
25,ALDI,41.877610,-80.754651,"3124 N Ridge Rd E, Ashtabula",23.58
26,Aldi,41.522565,-81.437134,"6737 Mayfield Rd, Mayfield Heights",20.63
27,Marc's Stores,41.578950,-81.211095,"425 Water St, Chardon",8.32
28,Marc's Stores,41.653613,-81.378744,"7353 Mentor Ave, Mentor",16.46
29,Marc's Stores,41.697269,-81.276771,"1585 Mentor Ave, Painesville",12.14
30,Marc's Stores,41.710157,-81.359232,"5929 Andrews Rd, Mentor-On-The-Lake",16.41
31,Marc's Stores,41.801020,-81.054695,"6576 N Ridge Rd, Madison",12.16
32,Marc's Pharmacy,41.525101,-81.437522,"6695 Eastgate Dr, Mayfield Heights",20.59
33,Save A Lot,41.461178,-81.087021,"15561 W High St, Middlefield",11.40
34,Save A Lot,41.642989,-81.448584,"33693 E, Vine St, Eastlake",19.98
35,Save A Lot,41.700149,-81.276417,"1475 Mentor Ave, Painesville",12.21
36,Save A Lot,41.534516,-80.867115,"23 S Maple St, Orwell",11.87
37,Save A Lot,41.893225,-80.803778,"822 Lake Ave, Ashtabula",22.82
38,Heinen's Grocery Store,41.339444,-81.438333,"10049 Darrow Rd, Twinsburg",27.72
39,Heinen's Grocery Store,41.588116,-81.218803,"402 Center St, Chardon",8.48
40,Heinen's Grocery Store,41.537752,-81.440157,"860 Som Center Road, Mayfield, Village, Mayfie...",20.44
41,Heinen's Grocery Store,41.606722,-81.442266,"34501 Ridge Rd, Willoughby",19.67
42,Heinen's Grocery Store,41.672847,-81.323319,"8850 Mentor Ave, Mentor",13.87

In [11]:
spread.to_csv("spread_C2.csv")