In [3]:
import pandas as pd
import math
import numpy as np

In [4]:
file = 'C3.csv'

In [5]:
cd = pd.read_csv(file)
cd.head()

,Unnamed: 0,Name,Lat,Lng,Address
0,0,Walmart Supercenter,41.349360,-81.389644,"7235 Market Pl Dr, Bainbridge Township"
1,1,Walmart Supercenter,41.253213,-81.362409,"905 Singletary Dr, Streetsboro"
2,2,Walmart Supercenter,41.165890,-81.480013,"3520 Hudson Dr, Stow"
3,3,Walmart Supercenter,41.156854,-81.299629,"2600 OH-59, Ravenna"
4,4,Walmart Supercenter,41.098492,-81.384385,"250 Tallmadge Rd, Kent"

In [6]:
south_cleveland_coordinates = "41.037209,-80.888368" #lat,long

In [7]:
lat1 = 41.037209
lon1 = -80.888368
def dist_from_coordinates(lat1, lon1, lat2, lon2):
  R = 6371  # Earth radius in km
 # lat1 = 41.625126
 # lon1 = -81.062346
  #conversion to radians
  d_lat = np.radians(lat2-lat1)
  d_lon = np.radians(lon2-lon1)

  r_lat1 = np.radians(lat1)
  r_lat2 = np.radians(lat2)

  #haversine formula
  a = np.sin(d_lat/2.) **2 + np.cos(r_lat1) * np.cos(r_lat2) * np.sin(d_lon/2.)**2

  haversine = 2 * R * np.arcsin(np.sqrt(a))

  return haversine

new_column = []                    #empty column for distance
for index,row in cd.iterrows():
  lat2 = row['Lat'] #first row of location.lat column here
  lon2 = row['Lng'] #first row of location.long column here
  #lat2 = row['lat2'] #second row of location.lat column here
  #lon2 = row['lon2'] #second row of location.long column here
  value = dist_from_coordinates(lat1, lon1, lat2, lon2)  #get the distance
  new_column.append(value)   #append the empty list with distance values
  #cd.insert(6,"Distance",new_column)
print(new_column)

[54.44258193038196, 46.39476266724563, 51.59775122953848, 36.94091377534693, 42.137439433447405, 49.2892887769507, 27.398946581560473, 43.31561053403473, 28.1011090094461, 52.36880030466171, 11.70357412712399, 22.60478733599596, 16.349153811251046, 21.60786161185197, 43.44740435874212, 55.36150512141991, 44.411129174702836, 54.345199062569215, 45.4420159222498, 31.502639013393765, 30.532383994107825, 49.43269719817707, 45.101256315035876, 47.592860178568415, 49.24358930067609, 39.19041696608508, 44.14043325309141, 43.78937466919507, 45.09708816982911, 49.154931655467, 30.87628366946967, 39.77043791107085, 49.30831548015563, 49.446718361292625, 26.106143085797314, 28.134180237680475, 54.128156028274795, 22.902343315182158, 11.896761973787003, 24.358459293167147, 22.336078435791077, 43.54632244016427, 16.12845992155486, 21.24351706061487, 49.98187709130362, 48.49477316499333, 40.81319713650086, 50.22580358645337, 31.238967549022462, 44.91744043485916, 39.317302257537804, 46.03625281344831, 47.30527754830639, 50.43934956226571, 26.733834053424275, 54.154133547527564, 22.31048442326607, 14.046912045794762, 16.23099742188127, 21.813512694447258, 43.9633398582698, 51.53100126434094, 41.17530858018526, 48.82339942605858, 33.02135117493287, 46.15685702906855, 44.749181129342126, 27.61884261276883, 23.93407764516462, 22.66777192760509, 49.22659581924459, 22.822899268135085, 14.188152815071655, 51.31173488265415, 44.920572514076696, 43.66926435545316, 21.652862035378718, 20.71357655510539, 18.433292653276936, 46.36413894135596, 49.625028005661974, 51.675397086792856]

In [8]:
col = []
for x in new_column:
    a = x * 0.621371
    col.append(a)
print(col)

[33.82904157666337, 28.828360073309085, 32.061346279249555, 22.954012533501096, 26.182982878200647, 30.626934656622634, 17.024910836330815, 26.915064233143696, 17.461214206308533, 32.540453814107956, 7.272261558945161, 14.045959311755146, 10.158890052850873, 13.426498577618071, 26.99695709379595, 34.400033798801815, 27.595787746414278, 33.7685306867077, 28.236350875624282, 19.574826306391497, 18.971937974802774, 30.716044490728482, 28.02461273773016, 29.572823122017233, 30.598538327350404, 24.351788580633254, 27.427585150906662, 27.20944752757241, 28.022022773174882, 30.543449037689186, 19.185627259982038, 24.712196775240006, 30.638757298219783, 30.72475683487476, 16.221600235364964, 17.481763708467756, 33.633666439445136, 14.230851968098053, 7.392302884414004, 15.135640209454564, 13.878991393725936, 27.058421920967312, 10.021757269916465, 13.200105439471322, 31.057288950100425, 30.13324569630507, 25.360137117904678, 31.208857800318114, 19.410988504903635, 27.91039488044887, 24.430631421068522, 28.605592446945188, 29.39412761546869, 31.34154907685461, 16.611629199610295, 33.64980811656075, 13.863088016569263, 8.728343784807537, 10.085471099031787, 13.554284196461387, 27.317544451072962, 32.019869786624795, 25.585142667778296, 30.337444524769445, 20.51851000091921, 28.680532409009352, 27.805843427520447, 17.16154785313878, 14.871941760453586, 14.085096110427903, 30.58797907079983, 14.181487741140366, 8.81610670285389, 31.88362401576969, 27.91234106364435, 27.134814461812287, 13.454460535785309, 12.870815777622392, 11.453913489259344, 28.809331378129293, 30.835553276906186, 32.10959316321756]

In [9]:
a = pd.DataFrame({'Distance':col})
a.head()

    Distance
0  33.829042
1  28.828360
2  32.061346
3  22.954013
4  26.182983

In [10]:
a['Distance'] = a['Distance'].map("{:,.2f}".format)
a['Distance']

0     33.83
1     28.83
2     32.06
3     22.95
4     26.18
      ...
77    12.87
78    11.45
79    28.81
80    30.84
81    32.11
Name: Distance, Length: 82, dtype: object

In [11]:
area1 = cd.merge(a,left_index=True, right_index=True)
area1.head()

,Unnamed: 0,Name,Lat,Lng,Address,Distance
0,0,Walmart Supercenter,41.349360,-81.389644,"7235 Market Pl Dr, Bainbridge Township",33.83
1,1,Walmart Supercenter,41.253213,-81.362409,"905 Singletary Dr, Streetsboro",28.83
2,2,Walmart Supercenter,41.165890,-81.480013,"3520 Hudson Dr, Stow",32.06
3,3,Walmart Supercenter,41.156854,-81.299629,"2600 OH-59, Ravenna",22.95
4,4,Walmart Supercenter,41.098492,-81.384385,"250 Tallmadge Rd, Kent",26.18

In [12]:
my_area = pd.DataFrame(area1)
spread = my_area.iloc[:,lambda my_merge: [1,2,3,4,5]]
spread

,Name,Lat,Lng,Address,Distance
0,Walmart Supercenter,41.349360,-81.389644,"7235 Market Pl Dr, Bainbridge Township",33.83
1,Walmart Supercenter,41.253213,-81.362409,"905 Singletary Dr, Streetsboro",28.83
2,Walmart Supercenter,41.165890,-81.480013,"3520 Hudson Dr, Stow",32.06
3,Walmart Supercenter,41.156854,-81.299629,"2600 OH-59, Ravenna",22.95
4,Walmart Supercenter,41.098492,-81.384385,"250 Tallmadge Rd, Kent",26.18
...,...,...,...,...,...
77,Save A Lot,41.071708,-80.645611,"2725 South Ave, Youngstown",12.87
78,Save A Lot,41.023511,-80.669365,"223 Boardman-Canfield Rd, Youngstown",11.45
79,Dave's Supermarket,40.985833,-80.340000,"440 E Long Ave, New Castle",28.81
80,Heinen's Grocery Store,41.320194,-81.346876,"115 N Chillicothe Rd, Aurora",30.84
81,Heinen's Grocery Store,41.242519,-81.441967,"19 Clinton St, Hudson",32.11

In [13]:
spread.to_csv("spread_C3.csv")