In [1]:
import pandas as pd
import math
import numpy as np

In [2]:
file = 'store_data_NEO4.csv'

In [3]:
cd = pd.read_csv(file)
cd.head(20)

,Unnamed: 0,Name,Lat,Lng,Address
0,0,Walmart Supercenter,40.765608,-81.522613,"1 Massillon Marketplace Dr SW, Massillon"
1,1,Walmart Supercenter,40.847628,-81.941624,"3883 Burbank Rd, Wooster"
2,2,Walmart,40.871104,-81.433181,"4572 Mega St NW, North Canton"
3,3,Walmart,41.134895,-81.632657,"3750 W Market St, Fairlawn"
4,4,Walmart Supercenter,41.052611,-81.724970,"222 Smokerise Dr, Wadsworth"
5,5,Walmart Supercenter,41.350877,-82.067282,"1000 Chestnut Commons Dr, Elyria"
6,6,Walmart Supercenter,41.346111,-81.820000,"8585 Pearl Rd, Strongsville"
7,7,Walmart Supercenter,40.794167,-81.422222,"4004 Tuscarawas St W, Canton"
8,8,Walmart Supercenter,41.466484,-82.015824,"35901 Chester Rd, Avon"
9,9,Walmart Supercenter,40.834728,-81.328803,"3200 Atlantic Blvd NE, Canton"
10,10,Walmart Supercenter,41.097782,-81.383707,"250 Tallmadge Rd, Kent"
11,11,Walmart Supercenter,41.161931,-81.859622,"4141 Pearl Rd, Medina"
12,12,Walmart Supercenter,41.165833,-81.480000,"3520 Hudson Dr, Stow"
13,13,Walmart Supercenter,41.417981,-81.897438,"24801 Brookpark Rd, North Olmsted"
14,14,Walmart Supercenter,41.461519,-81.692884,"3400 Steelyard Dr, Cleveland"
15,15,Walmart Supercenter,41.156076,-81.299561,"2600 OH-59, Ravenna"
16,16,Walmart Supercenter,41.420278,-81.753889,"10000 Brookpark Rd, Cleveland"
17,17,Walmart Supercenter,41.310135,-81.519020,"8160 Macedonia Commons Blvd, Macedonia"
18,18,Walmart Supercenter,41.430061,-82.207895,"4380 N Leavitt Rd, Lorain"
19,19,Walmart Supercenter,41.508916,-81.539875,"1868 Warrensville Center Rd, South Euclid"

In [4]:
cleveland_coordinates = "41.625126,-81.062346" #lat,long

In [5]:
#Lat = lat2, Lng=lon2
lat1 = 41.625126
lon1 = -81.062346
def dist_from_coordinates(lat1, lon1, lat2, lon2):
  R = 6371  # Earth radius in km
  lat1 = 41.625126
  lon1 = -81.062346
  #conversion to radians
  d_lat = np.radians(lat2-lat1)
  d_lon = np.radians(lon2-lon1)

  r_lat1 = np.radians(lat1)
  r_lat2 = np.radians(lat2)

  #haversine formula
  a = np.sin(d_lat/2.) **2 + np.cos(r_lat1) * np.cos(r_lat2) * np.sin(d_lon/2.)**2

  haversine = 2 * R * np.arcsin(np.sqrt(a))

  return haversine

new_column = []                    #empty column for distance
for index,row in cd.iterrows():
  lat2 = row['Lat'] #first row of location.lat column here
  lon2 = row['Lng'] #first row of location.long column here
  #lat2 = row['lat2'] #second row of location.lat column here
  #lon2 = row['lon2'] #second row of location.long column here
  value = dist_from_coordinates(lat1, lon1, lat2, lon2)  #get the distance
  new_column.append(value)   #append the empty list with distance values
  #cd.insert(6,"Distance",new_column)
print(new_column)

[103.04069942442437, 113.48864004256187, 89.39159412157126, 72.3574691228785, 84.33830172813985, 89.08780900207266, 70.32468940663104, 97.17871436391476, 81.28616758603674, 90.66887868584192, 64.480385427425, 84.11733592216652, 61.82179640395788, 73.23925935332429, 55.53989636324106, 55.78381346436262, 61.91360979360301, 51.716842946899014, 97.79562627928196, 41.77608172572342, 48.37354590262759, 40.952161884245506, 33.581876308534675, 21.239526002185464, 32.007641646379184, 45.909616355967714, 14.271079610443405, 38.70643631338533, 19.97760909963028, 18.604633722738956, 40.92430972374322, 19.91965101043012, 81.04769505354186, 83.16780997824397, 63.413104575808205, 62.76802012565348, 75.45436273695388, 81.15348660732244, 84.99079462916222, 83.44061094352446, 81.31743931636856, 75.81815507806017, 62.724968966627884, 71.45216619095632, 72.00699796379799, 72.70250121577745, 66.41067696598711, 66.50725567057113, 92.91377836300539, 66.7520899556627, 65.92300085713822, 76.21829842070505, 65.19574127537621, 62.72423371245508, 60.30015603378378, 52.11714967250389, 51.97031614558631, 56.32242426460671, 45.76554951797747, 38.80604772935908, 49.22666839576242, 40.92553369387493, 47.25558394337239, 46.663827926040916, 39.897205634159896, 34.731443975169974, 34.29420882603424, 25.726570520260296, 34.465920808459515, 30.374762987548323, 50.66794286067878, 18.023381820211753, 13.761694391358285, 19.1965431365446, 44.88047082031181, 60.76530372885479, 53.62830145096164, 89.21985617396707, 59.656489135960506, 63.59721542677956, 83.02620649097221, 71.91099465525211, 73.89482580480102, 75.57734870902307, 80.75280388524808, 46.846518531991855, 77.45599332660154, 60.38351215068511, 55.14713503840485, 113.44238823880957, 97.80498278378231, 84.86535456260046, 82.82201675554361, 72.82668791953077, 77.60096938870126, 76.72998069564478, 90.94252130237253, 73.5531030747334, 73.36411905361577, 69.79485721182753, 68.55730824145377, 82.80332318937376, 74.61896369108824, 73.13266240014339, 84.48015327294293, 76.86015072625898, 66.8064945179532, 62.34029340690217, 59.04097862777876, 37.94380815624732, 48.61376626364439, 49.64387635284215, 37.837874819796845, 51.740866628515754, 44.29403904715781, 48.88350196673997, 34.00347847676536, 38.58347973265956, 40.39494898949575, 24.9941686163673, 13.212857823615074, 53.477490974875174, 45.660574391126936, 19.832127382686775, 20.048560780054395, 18.24802841240352, 33.21172882992863, 44.52499229181538, 40.62111664839028, 80.78106801995037, 53.743067159050405, 62.873434263986304, 63.344621485836015, 75.0448257048334, 83.00283554045889, 40.214132529363376, 71.21960203651459, 66.69745765980296, 41.82658421963555, 39.604454908135786, 64.40462992040048, 92.15178010496274, 90.88377596796317, 74.04290871738415, 74.73587840303522, 72.8376087508582, 39.565979229551516, 68.92699229258946, 51.0298003173279, 60.07820160654141, 82.42306785086967, 57.898994806536976, 60.66808436390929, 40.69414401720016, 64.6776582344835, 59.62305299617638, 97.8825236211443, 66.33678756992478, 85.8404750022878, 63.116600425581346, 71.51083819737768, 38.20008287701086, 57.92347433345057, 42.23542924685133, 35.22169090080237, 53.93608488191005, 34.43053514497532, 44.9232333560675, 26.482967387135446, 53.836433387072624, 19.535797352139088, 33.13625686204567, 13.391725961237828, 26.41099333393697, 19.568828288124664, 75.74450312909599, 64.23937095890545, 80.86090808999639, 53.63581105759334, 83.10897534876416, 74.28897062904682, 68.54149839384787, 86.68518173601001, 73.72385794685759, 99.90722698995936, 95.66868507453633, 115.04863325809504, 64.4521158226387, 58.62819962977843, 62.20648411422928, 59.3431587213238, 90.34202025345688, 80.38742642215225, 51.8997635814879, 50.94214251029055, 45.54834097049916, 46.7821880791262, 90.70320996082027, 51.000052169356, 49.337908044311376, 36.72453605201284, 35.96885673288926, 19.642446580753898, 32.159972849487275, 18.345438377908465, 42.076406560879036, 52.91099140268165, 46.87742422008506, 42.10111133885798, 48.34700795797212, 52.300877141409536, 43.959946961004675, 40.73466720364185, 51.19517010575587, 70.68130006539789, 74.51180723892081, 66.376436484179, 64.1029230263798, 71.1495722559886, 75.11962411908458, 65.53354296335743, 89.26943105460418, 37.6609909012666, 100.07053789148941, 63.433592662084784, 97.95616128109108, 55.760110639069595, 46.72883971156838, 71.31777602199503, 59.12413783669903, 51.568578225980445, 51.02703862190419, 46.05575956453248, 46.26953148077582, 37.373561259746324, 42.53930736162095, 42.480679663353264, 50.47087211981792, 37.26779735933826, 38.36479183904768, 51.810860636146515, 51.903563879838465, 49.29047763566651, 43.90095996969307, 52.06711734058051, 45.34603856592358, 68.01191601055845, 53.728568537105154, 66.22229302322843, 40.515204528213275, 81.58719708284107, 57.704781117996475, 72.61707543837606, 37.67620464363975, 44.610377047330616, 32.92438173643001, 41.371902015328175, 32.89212148880357, 73.24979056474707, 34.74656901124599, 53.02368412215261, 13.643761436273548, 22.323623481488934, 31.649303231412304, 33.82358545548399]

In [6]:
col = []
for x in new_column:
    a = x * 0.621371
    col.append(a)
print(col)

[64.026502442054, 70.51854975188671, 55.54534423091486, 44.960832946352134, 52.40537488311599, 55.35658096742689, 43.697722581287735, 60.38403492302008, 50.50886723910324, 56.33901181790028, 40.066241573424506, 52.26807313929253, 38.414271453323714, 45.50875182363446, 34.51088094312346, 34.662443956164466, 38.471321631060896, 32.135346418757585, 60.76736609678371, 25.95844567799449, 30.057918591061608, 25.446485782175515, 20.8668040637105, 13.197625511503984, 19.88862029745228, 28.526904224724014, 8.867635008620828, 24.051057038484558, 12.413506943846366, 11.560379860932029, 25.42917925735205, 12.377493468001974, 50.360687323114355, 51.678065253991434, 39.40306420337452, 39.00222743349743, 46.885152828223774, 50.42642312667855, 52.81081504951716, 51.84757586258874, 50.52829858545125, 47.11120283900933, 38.97547669176254, 44.39830395824072, 44.74306033176312, 45.17522588294885, 41.26566875703237, 41.32567996327845, 57.73392737519902, 41.47781288784009, 40.96264096560083, 47.35984030797192, 40.510742952021786, 38.975019826141924, 37.46876825486826, 32.384085409153414, 32.29284731369911, 34.99712108772294, 28.437385269535177, 24.11295268363958, 30.58802416774329, 25.42993979689676, 29.363249450477248, 28.99554942223197, 24.79096656210357, 21.58111207429534, 21.309426832441723, 15.985744850744661, 21.416123678673298, 18.87399685233589, 31.483590323282833, 11.199206785006798, 8.551117805652689, 11.928175205297856, 27.887423034087966, 37.75779754330223, 33.32307130088548, 55.43863125067409, 37.06881231090092, 39.51746534695344, 51.5900769535019, 44.68340665992866, 45.916101805155016, 46.96157274467438, 50.17745050298049, 29.10906806674231, 48.12890802934373, 37.52056332858336, 34.266830445948656, 70.48981022233734, 60.7731799573416, 52.73287022991761, 51.46319937340889, 45.25239189924675, 48.21899195002669, 47.677784834833496, 56.50904540417652, 45.70376521065017, 45.58633602046428, 43.36850022057049, 42.59952317930037, 51.451583733504364, 46.36606008769519, 45.4425155682395, 52.49351731936182, 47.758668716926266, 41.5116183051151, 38.73645045454021, 36.68635193092152, 23.577182017855556, 30.20718455700698, 30.84726509324188, 23.511358114651987, 32.150274037827465, 27.523031336771496, 30.374790500575184, 21.12877542458617, 23.974655384962404, 25.100249848551965, 15.530651547320765, 8.210086678717522, 33.22936204454916, 28.372156769988937, 12.323108823907464, 12.45759426046318, 11.338795662643589, 20.636805154781584, 27.666538985357615, 25.240783872926915, 50.19501301662458, 33.39438338368631, 39.067728722047434, 39.36051079727541, 46.63067839303803, 51.57555492261048, 24.98789574390305, 44.25379533703111, 41.443865963529426, 25.98982646313916, 24.60905975072324, 40.01916929826917, 57.260443755600804, 56.47254275698925, 46.00811623262971, 46.438707499172395, 45.25917778712951, 24.585152079845656, 42.8292341278386, 31.70843805297835, 37.33085221045825, 51.215304093562736, 35.97675630193269, 37.697388249286675, 25.28616096211168, 40.188821174819246, 37.048036063287114, 60.82136158499406, 41.21975602911173, 53.33878179264658, 39.218825123043906, 44.434761041542764, 23.736423697371112, 35.991967170050515, 26.243870906545258, 21.88573729672247, 33.51431899915733, 21.394136053568463, 27.913994433693016, 16.45574792831174, 33.452398450158704, 12.138977936496017, 20.58990906262618, 8.321230152260311, 16.411025338901748, 12.15950240222031, 47.065437653829505, 39.91648217210604, 50.244623320789145, 33.32773755266783, 51.64150712143694, 46.16101196874145, 42.589699398483646, 53.86365806048627, 45.80986733629685, 62.07945354197803, 59.44574651344971, 71.48788429621577, 40.048675660828835, 36.429863032155055, 38.653305240542764, 36.87411787782769, 56.135911466910756, 49.95041554335916, 32.24900799639272, 31.653970033761752, 28.302418177180034, 29.069094988914728, 56.36034427656485, 31.689953416524908, 30.657145259401805, 22.81956169117527, 22.35000447697213, 12.205246674329631, 19.983274489458758, 11.399323390319362, 26.14505882113997, 32.8773556388757, 29.128271965058474, 26.160409653737524, 30.04142868185309, 32.49824833023479, 27.315436203106437, 25.31134089499414, 31.811194043783633, 43.91931010293635, 46.29947617585546, 41.24439271461079, 39.83169738382464, 44.210280862275894, 46.677155958499704, 40.72064312468437, 55.46943564383046, 23.40144757731093, 62.18093020017267, 39.41579490603228, 60.86711789139285, 34.64771570790931, 29.035945860416955, 44.31479780456307, 36.738024651727514, 32.043219020855695, 31.706722015531227, 28.61771337637311, 28.750545045741152, 23.222847133529832, 26.43269195459777, 26.39626240309748, 31.36113627996338, 23.157128512969376, 23.8387690698209, 32.193766284343, 32.25136939157911, 30.627673378951737, 27.27878339732815, 32.35299676903385, 28.1767133297465, 42.260632263396715, 33.38537436046957, 41.148612438136475, 25.17497315290041, 50.695918238562044, 35.85607754807059, 45.12214478221917, 23.410900955623074, 27.719594596276874, 20.458256003947252, 25.707300127166484, 20.438210421619363, 45.51529561300745, 21.590510333086932, 32.94737962666609, 8.477837687418731, 13.87125224631626, 19.665959198205893, 21.016995118059544]

In [7]:
a = pd.DataFrame({'Distance':col})
a.head()

    Distance
0  64.026502
1  70.518550
2  55.545344
3  44.960833
4  52.405375

In [8]:
a['Distance'] = a['Distance'].map("{:,.2f}".format)
a['Distance']

0      64.03
1      70.52
2      55.55
3      44.96
4      52.41
       ...
260    32.95
261     8.48
262    13.87
263    19.67
264    21.02
Name: Distance, Length: 265, dtype: object

In [15]:
merge = cd.merge(a,left_index=True, right_index=True)
merge.head()

,Unnamed: 0,Name,Lat,Lng,Address,Distance
0,0,Walmart Supercenter,40.765608,-81.522613,"1 Massillon Marketplace Dr SW, Massillon",64.03
1,1,Walmart Supercenter,40.847628,-81.941624,"3883 Burbank Rd, Wooster",70.52
2,2,Walmart,40.871104,-81.433181,"4572 Mega St NW, North Canton",55.55
3,3,Walmart,41.134895,-81.632657,"3750 W Market St, Fairlawn",44.96
4,4,Walmart Supercenter,41.052611,-81.724970,"222 Smokerise Dr, Wadsworth",52.41

In [17]:
#merge = merge.drop_duplicates(subset = "Address").reset_index(drop=True)
#merge = store_list.drop([10])
#print(store_list)
#store_list.to_csv("output_data/store_data.csv",index=False,header=True)
merge.to_csv("distance_list.csv")